<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd ">
	
	<!--创建可被spring容器发现的bean 让spring进行管理创建
	name别名      class  交由spirng管理的类的全路径zr.xuexi.bean.User  -->
	<bean name="User2" class="zr.xuexi.bean.User2">
		<property name="name" value="哈哈"/>
		<property name="age" value="33"/>
	</bean>
	
	<!-- bean是注解时可使用扫描包下的所有注解 -->
	<!-- <context:component-scan base-package="zr.xuexi.bean"></context:component-scan> -->
</beans>